# Window titles config
for_window [class=".*"] border pixel 3
# Focused window (active window)

client.focused          #4c7899 #285577 #ffffff #2e9ef4 #C500FE

# Unfocused window (inactive window)
client.unfocused        #333333 #222222 #888888 #292d3e #222222

# Change the background color of apps
client.background #000000